- model_class = Party
- title = model_class.model_name.human.pluralize.titleize
- provide(:title, title)

%h3 #{@party.date.strftime("%b %d, %Y")} @#{@party.place.name || '-'}

%section#switch-nav.clearfix
  %ul
    = link_to "#" do
      %li.active Ranking
    = link_to "#" do
      %li Games

%section
  %ul.list
    - current_rank  = 1
    - current_score = 0
    - @rankings.each_with_index do |ranking, i|
      - current_rank = i+1 unless ranking[:wins] == current_score
      - current_score = ranking[:wins]
      %li
        %div
          - if current_rank == 1
            %div.list-result.win
              = current_rank
          - else
            %div.list-result.lose
              = current_rank

          = profile_img(ranking[:user])
          %p= ranking[:user].name
          %p.score
            %span= ranking[:wins]
            Wins

%div.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), games_path, :class => 'btn btn-default btn-block btn-lg'
