= simple_form_for @game, html: {class: 'form-horizontal'} do |f|
  %nav.sub-nav
    %ul.clearfix
      - back_link = (@game.new_record?) ? games_path : game_path(@game)
      %li.pull-left= link_to t('.cancel', default: t("helpers.links.cancel")), back_link
      %li.pull-right= f.button :submit, class: 'btn-default'

  - date = @game.party.date || Date.today
  %h3= date.strftime("%b %d, %Y")
  %ul.list
    -# Place
    = f.simple_fields_for :party do |p|
      %li= p.input :date, as: :calendar, input_html: {value: @game.party.date ||= Date.today}, label: false, wrapper_html: {class: 'calendar'}
      = p.input :user_id, as: :hidden, input_html: {value: current_user.id}
      = p.simple_fields_for :place do |l|
        %li
          %div.form-group.place-form
            %div.form-group
              %div= @game.party.place.try(:name)
        = l.input :foursquare_id, as: :hidden, input_html: {value: @game.party.place.try(:foursquare_id)}, wrapper_html: {class: 'place'}
        = l.input :name, as: :hidden, input_html: {value: ''}, wrapper_html: {class: 'place'}
      = render 'games/place_select'

    -# Member
    - user_1 = (action_name == 'new' || action_name == 'create' || @game.joined_by?(current_user)) ? current_user : @game.users.first
    - user_2 = @game.opponent(user_1)

    - user = user_1
    = f.simple_fields_for :game_records do |u|
      - winner = (user == @game.winner) ? true : false
      %li.members
        = u.input :winner, as: :hidden, label: false, wrapper_html: {class: 'winner'}, input_html: {value: winner}
        = u.input :user_name, as: :hidden, label: false, input_html: {value: user.try(:name)}
        - if winner == true
          %div.winner-form.active
        - else
          %div.winner-form
        %div.form-group.member-form
          %div.form-group
            %div= user.try(:name)
      = u.association :user, as: :hidden, input_html: { value: user.try(:uid) }, label: false
      - user = user_2

    - if action_name == "new"
      = f.simple_fields_for :game_records do |u|
        %li.members
          = u.input :winner, as: :hidden, label: false, wrapper_html: {class: 'winner'}, input_html: {value: ''}
          = u.input :user_name, as: :hidden, label: false, input_html: {value: ''}
          %div.winner-form
          %div.form-group.member-form
            %div.form-group
              %div
        = u.association :user, as: :hidden, input_html: {value: ''}, label: false
    = render 'games/member_select'

    %li= f.input :rule, collection: ['Eight-ball', 'Nine-ball'], label: false, wrapper_html: {class: 'rule'}
    %li= f.input :video_id, as: :url, label: false, wrapper_html: {class: 'video'}, placeholder: 'Youtube Video URL'
