%ul.list
  = simple_form_for @game, html: {class: 'form-horizontal'} do |f|
    -# Member
    = f.simple_fields_for :game_records do |u|
      %li.members
        = u.input :winner, as: :hidden, label: false, wrapper_html: {class: 'winner'}
        = u.input :user_name, as: :hidden, label: false, input_html: {value: current_user.name}
        %div.winner-form
        %div.form-group.member-form
          %div.form-group
            %div= current_user.name
      = u.association :user, as: :hidden, input_html: { value: 501633065 }, label: false
    = f.simple_fields_for :game_records do |u|
      %li.members
        = u.input :winner, as: :hidden, label: false, wrapper_html: {class: 'winner'}
        = u.input :user_name, as: :hidden, label: false, input_html: {value: ""}
        %div.winner-form
        %div.form-group.member-form
          %div.form-group
            %div
      = u.association :user, as: :hidden, label: false
    = render 'games/member_select'

    -# Place
    = f.simple_fields_for :party do |p|
      %li= p.input :date, as: :calendar, input_html: {value: Date.today}, label: false, wrapper_html: {class: 'calendar'}
      = p.input :user_id, as: :hidden, input_html: {value: current_user.id}
      = p.simple_fields_for :place do |l|
        %li
          %div.form-group.place-form
            %div.form-group
              %div
        = l.input :foursquare_id, as: :hidden, input_html: {value: ''}, wrapper_html: {class: 'place'}
        = l.input :name, as: :hidden, input_html: {value: ''}, wrapper_html: {class: 'place'}
      = render 'games/place_select'

    %li= f.input :rule, collection: ['Eight-ball', 'Nine-ball'], label: false, wrapper_html: {class: 'rule'}
    %li= f.input :video_id, as: :url, label: false, wrapper_html: {class: 'video'}, placeholder: 'Youtube Video URL'
    .form-actions
      = f.button :submit, class: 'btn-primary btn-block btn-lg'
      = link_to t('.cancel', default: t("helpers.links.cancel")), games_path, class: 'btn btn-block btn-default'
