- model_class = Game
- title = model_class.model_name.human.pluralize.titleize
- provide(:title, title)

%section#switch-nav.clearfix
  %ul
    = link_to "#" do
      %li.active All
    = link_to "#" do
      %li Yours

%section#game-index
  %h3  Dec 13, 2013
  %ul.list
    -@games.each do |game|
      - if game.users.first
        = link_to game_path(game) do
          %li.clearfix
            = profile_img(game.users.first)
            %p
              = game.users.first.name
            %p
              %strong WIN
              %br
              %small (15-3)
            %i.icon-facetime-video
            %i.icon-angle-right.icon-2x
    %div
      = paginate @games
