- model_class = Game
- title = model_class.model_name.human.pluralize.titleize
- provide(:title, title)

%section#switch-nav.clearfix
  %ul
    = link_to "#" do
      %li.active All
    = link_to "#" do
      %li Yours

%section#game-index
  - current_date = ''
  %ul.list
    -@games.each do |game|
      - if game.party.date !=  current_date
        %li.list-title
          %h3= game.party.date.strftime("%b %d, %Y")
          - current_date = game.party.date
      - if game.users.first
        = link_to game_path(game) do
          %li.clearfix
            = profile_img(game.users.first)
            %p
              = game.users.first.name
            %p
              %strong WIN
              %br
              %small (15-3)
            %i.icon-facetime-video
            %i.icon-angle-right.icon-2x.arrow-link
  %div
    = paginate @games
