- model_class = Game
- title = model_class.model_name.human.titleize
- provide(:title, title)

%nav.sub-nav
  %ul.clearfix
    %li.pull-left= link_to t('.back', :default => t("helpers.links.back")), games_path
    %li.pull-right= link_to t('.edit', :default => t("helpers.links.edit")), edit_game_path(@game)

%section#game-show
  %h3= @game.party.date.strftime("%b %d, %Y")
  %ul.list
    %li.result.clearfix
      - @game.users.each do |user|
        %div
          = profile_img(user)
          %p.name= user.name
          - if @game.winner
            - if user == @game.winner
              %p.win
                %i.icon-trophy
                WIN
            - else
              %p.lose
                %i.icon-remove
                LOSE
    %li
      %i.icon-calendar
      %span= @game.party.date.strftime("%b %d, %Y")
    %li
      %i.icon-tag
      %span= @game.rule
    %li
      %i.icon-map-marker
      %span= @game.party.place.try(:name)

  - if @game.video_id.present?
    %div.youtube-wrapper
      %iframe(src="//www.youtube-nocookie.com/embed/#{@game.video_id}?rel=0" allowfullscreen)
