= nav_bar :responsive=>true, :fixed=>:top, :brand=>"poolog" do
  = menu_group pull: :right do
    - if user_signed_in?
      = menu_text do
        Logged in as
        %strong #{current_user.email}
      = menu_item 'Edit profile', edit_user_registration_path
      = menu_item "Logout", destroy_user_session_path, method: :delete
    - else
      = menu_item "Sign up", new_user_registration_path
      = menu_item "Login", new_user_session_path
%div.navbar-rightbutton.visible-xs
  = link_to "<i class='icon-plus'></i>".html_safe, new_game_path
